.frame {
    display: flex;
    flex-direction: column;
    height: 7022px;
    align-items: flex-start;
    position: relative;
    background-color: var(--color-background-default-default);
    overflow: hidden;
  }
  
  .frame .group {
    position: relative;
    width: 1922px;
    height: 528.87px;
    margin-right: -2.00px;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 1920px;
    height: 99px;
    top: 0;
    left: 0;
  }
  
  .frame .header {
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
    height: 99px;
    align-items: center;
    gap: var(--size-space-600);
    padding: var(--size-space-800);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-background-default-default);
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: var(--color-border-default-default);
  }
  
  .frame .navigation-pill-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--size-space-200);
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .navigation-pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: relative;
    flex: 0 0 auto;
    border-radius: var(--size-radius-200);
  }
  
  .frame .title {
    width: fit-content;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    position: relative;
    margin-top: -1.00px;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper {
    position: absolute;
    height: 29px;
    top: 36px;
    left: 32px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: #445460;
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    white-space: nowrap;
    font-style: var(--heading-font-style);
  }
  
  .frame .hero-basic {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 430px;
    align-items: center;
    padding: var(--size-space-4000) var(--size-space-1600) var(--size-space-4000)
      var(--size-space-1600);
    position: absolute;
    top: 99px;
    left: 0;
    background-color: #01609a;
  }
  
  .frame .text-content-title {
    align-items: center;
    margin-bottom: -22.13px;
    display: inline-flex;
    flex-direction: column;
    gap: var(--size-space-200);
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .div {
    align-self: stretch;
    font-family: var(--title-hero-font-family);
    font-weight: var(--title-hero-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--title-hero-font-size);
    text-align: center;
    letter-spacing: var(--title-hero-letter-spacing);
    line-height: var(--title-hero-line-height);
    position: relative;
    margin-top: -1.00px;
    font-style: var(--title-hero-font-style);
  }
  
  .frame .subtitle {
    position: relative;
    align-self: stretch;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--subtitle-font-size);
    text-align: center;
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    font-style: var(--subtitle-font-style);
  }
  
  .frame .group-2 {
    position: relative;
    width: 1920px;
    height: 711.77px;
    background-image: url(./img/section.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .overlap-wrapper {
    position: absolute;
    width: 1974px;
    height: 2703px;
    top: 1241px;
    left: 0;
  }
  
  .frame .overlap {
    position: relative;
    width: 1920px;
    height: 2703px;
    background-color: #d9d9d9;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 1275px;
    height: 1208px;
    top: 103px;
    left: 323px;
    object-fit: cover;
  }
  
  .frame .overlap-2 {
    position: absolute;
    width: 1200px;
    height: 499px;
    top: 1818px;
    left: 398px;
  }
  
  .frame .panel-image-double {
    display: flex;
    width: var(--responsive-device-width);
    height: 452.6px;
    align-items: flex-start;
    gap: var(--size-space-1200);
    padding: var(--size-space-1600);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d4d8db;
  }
  
  .frame .image {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #ffffff;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 88px;
    height: 166px;
    top: 221px;
    left: 784px;
    background-color: #68a0c3;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 88px;
    height: 198px;
    top: 189px;
    left: 888px;
    background-color: #01609a;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-4 {
    position: absolute;
    width: 88px;
    height: 236px;
    top: 151px;
    left: 992px;
    background-color: #01609a;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-5 {
    position: absolute;
    width: 88px;
    height: 118px;
    top: 269px;
    left: 144px;
    background-color: #68a0c3;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-6 {
    position: absolute;
    width: 88px;
    height: 118px;
    top: 269px;
    left: 680px;
    background-color: #68a0c3;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-7 {
    position: absolute;
    width: 88px;
    height: 166px;
    top: 221px;
    left: 408px;
    background-color: #68a0c3;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-8 {
    position: absolute;
    width: 88px;
    height: 198px;
    top: 189px;
    left: 276px;
    background-color: #01609a;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 79px;
    top: 151px;
    left: 894px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    width: 59px;
    top: 232px;
    left: 690px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-4 {
    position: absolute;
    width: 79px;
    top: 117px;
    left: 999px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    width: 98px;
    top: 187px;
    left: 776px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-6 {
    position: absolute;
    width: 59px;
    top: 150px;
    left: 290px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-7 {
    position: absolute;
    width: 98px;
    top: 187px;
    left: 403px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-8 {
    position: absolute;
    width: 102px;
    top: 232px;
    left: 137px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .rectangle-9 {
    position: absolute;
    width: 1200px;
    height: 104px;
    top: 395px;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .frame .text-wrapper-9 {
    position: absolute;
    width: 50px;
    top: 307px;
    left: 163px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-10 {
    position: absolute;
    width: 50px;
    top: 287px;
    left: 427px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-11 {
    position: absolute;
    width: 136px;
    top: 419px;
    left: 252px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: #4b5a65;
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    white-space: nowrap;
    font-style: var(--heading-font-style);
  }
  
  .frame .text-wrapper-12 {
    position: absolute;
    width: 171px;
    top: 419px;
    left: 796px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: #4b5a65;
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    white-space: nowrap;
    font-style: var(--heading-font-style);
  }
  
  .frame .text-wrapper-13 {
    position: absolute;
    width: 50px;
    top: 251px;
    left: 295px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .overlap-group-2 {
    position: absolute;
    width: 1200px;
    height: 453px;
    top: 1365px;
    left: 398px;
  }
  
  .frame .image-2 {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .text-wrapper-14 {
    position: absolute;
    width: 30px;
    top: 116px;
    left: 919px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-15 {
    position: absolute;
    width: 59px;
    top: 235px;
    left: 694px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-16 {
    position: absolute;
    width: 30px;
    top: 187px;
    left: 1024px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-17 {
    position: absolute;
    width: 30px;
    top: 176px;
    left: 215px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-18 {
    position: absolute;
    width: 30px;
    top: 132px;
    left: 395px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .rectangle-10 {
    position: absolute;
    width: 88px;
    height: 166px;
    top: 221px;
    left: 186px;
    background-color: #68a0c3;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-11 {
    position: absolute;
    width: 88px;
    height: 166px;
    top: 221px;
    left: 995px;
    background-color: #68a0c3;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-12 {
    position: absolute;
    width: 88px;
    height: 198px;
    top: 189px;
    left: 785px;
    background-color: #01609a;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-13 {
    position: absolute;
    width: 88px;
    height: 236px;
    top: 151px;
    left: 890px;
    background-color: #01609a;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .rectangle-14 {
    position: absolute;
    width: 88px;
    height: 208px;
    top: 179px;
    left: 366px;
    background-color: #01609a;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .text-wrapper-19 {
    position: absolute;
    width: 30px;
    top: 151px;
    left: 814px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .text-wrapper-20 {
    position: absolute;
    width: 50px;
    top: 285px;
    left: 205px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-21 {
    position: absolute;
    width: 50px;
    top: 262px;
    left: 385px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-22 {
    position: absolute;
    width: 50px;
    top: 268px;
    left: 804px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-23 {
    position: absolute;
    width: 50px;
    top: 243px;
    left: 909px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-24 {
    position: absolute;
    width: 50px;
    top: 284px;
    left: 1014px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-25 {
    position: absolute;
    width: 50px;
    top: 312px;
    left: 699px;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .frame .text-wrapper-26 {
    position: absolute;
    width: 136px;
    top: 421px;
    left: 252px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: #4b5a65;
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    white-space: nowrap;
    font-style: var(--heading-font-style);
  }
  
  .frame .text-wrapper-27 {
    position: absolute;
    width: 136px;
    top: 416px;
    left: 814px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: #4b5a65;
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    white-space: nowrap;
    font-style: var(--heading-font-style);
  }
  
  .frame .element {
    position: absolute;
    width: 912px;
    height: 108px;
    top: 2415px;
    left: 554px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: #45535e;
    font-size: var(--subtitle-font-size);
    text-align: center;
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    font-style: var(--subtitle-font-style);
  }
  
  .frame .overlap-group-wrapper {
    position: absolute;
    width: 1200px;
    height: 1140px;
    top: 3965px;
    left: 360px;
  }
  
  .frame .overlap-3 {
    position: relative;
    height: 1140px;
  }
  
  .frame .card-grid-image {
    display: flex;
    flex-direction: column;
    width: var(--responsive-device-width);
    height: 1140px;
    align-items: flex-start;
    gap: var(--size-space-1200);
    padding: var(--size-space-1600);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .frame .text-content-heading {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: var(--size-space-200);
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .text-wrapper-28 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    font-style: var(--heading-font-style);
  }
  
  .frame .subheading {
    position: relative;
    align-self: stretch;
    font-family: var(--subheading-font-family);
    font-weight: var(--subheading-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--subheading-font-size);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    font-style: var(--subheading-font-style);
  }
  
  .frame .cards {
    flex-wrap: wrap;
    align-content: space-between;
    height: 357px;
    align-items: center;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    gap: var(--size-space-1200);
  }
  
  .frame .card {
    display: flex;
    flex-wrap: wrap;
    min-width: 240px;
    align-items: flex-start;
    gap: var(--size-space-600);
    padding: var(--size-space-600);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .image-3 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .body {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    align-items: flex-start;
    gap: var(--size-space-400);
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .p {
    align-self: stretch;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-default);
    font-size: 24px;
    line-height: 28.8px;
    position: relative;
    margin-top: -1.00px;
  }
  
  .frame .span {
    font-weight: var(--heading-font-weight);
    color: #1e1e1e;
    letter-spacing: var(--heading-letter-spacing);
    font-family: var(--heading-font-family);
    font-style: var(--heading-font-style);
    line-height: var(--heading-line-height);
    font-size: var(--heading-font-size);
  }
  
  .frame .text-wrapper-29 {
    font-family: var(--subheading-font-family);
    color: #b3b3b3;
    font-size: var(--subheading-font-size);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    font-style: var(--subheading-font-style);
    font-weight: var(--subheading-font-weight);
  }
  
  .frame .text-wrapper-30 {
    font-weight: var(--heading-font-weight);
    color: #b3b3b3;
    letter-spacing: var(--heading-letter-spacing);
    font-family: var(--heading-font-family);
    font-style: var(--heading-font-style);
    line-height: var(--heading-line-height);
    font-size: var(--heading-font-size);
  }
  
  .frame .image-4 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-5.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .image-5 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .image-6 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-6.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .image-7 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .image-8 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-4.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .img {
    position: absolute;
    width: 412px;
    height: 112px;
    top: 1007px;
    left: 394px;
  }
  
  .frame .card-grid-content-wrapper {
    position: absolute;
    width: 1200px;
    height: 864px;
    top: 5244px;
    left: 360px;
  }
  
  .frame .card-grid-content {
    display: flex;
    flex-direction: column;
    width: var(--responsive-device-width);
    height: 864px;
    align-items: flex-start;
    gap: var(--size-space-1200);
    padding: var(--size-space-1600);
    position: relative;
    background-color: #ffffff;
  }
  
  .frame .cards-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-600);
    flex: 0 0 auto;
    margin-bottom: -44.50px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .frame .card-2 {
    display: flex;
    flex-wrap: wrap;
    min-width: 240px;
    align-items: flex-start;
    gap: var(--size-space-600);
    padding: var(--size-space-600);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .frame .image-9 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-9.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .body-text-for {
    position: relative;
    align-self: stretch;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
  }
  
  .frame .text-wrapper-31 {
    font-weight: var(--body-base-font-weight);
    font-family: var(--body-base-font-family);
    font-style: var(--body-base-font-style);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-size: var(--body-base-font-size);
  }
  
  .frame .button-group {
    display: flex;
    align-items: center;
    gap: var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 0 0 auto;
    background-color: #01609a;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-neutral-secondary);
  }
  
  .frame .button-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #ffffff;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .frame .image-10 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-8.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .button-wrapper {
    display: flex;
    align-items: center;
    gap: var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
  }
  
  .frame .image-11 {
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url(./img/image-7.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .div-wrapper {
    position: absolute;
    width: 1924px;
    height: 720px;
    top: 6302px;
    left: 0;
  }
  
  .frame .overlap-4 {
    position: relative;
    width: 1920px;
    height: 720px;
    background-image: url(./img/rectangle-26.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .text-wrapper-32 {
    position: absolute;
    height: 76px;
    top: 329px;
    left: 454px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: #ffffff;
    font-size: var(--subtitle-font-size);
    text-align: center;
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    font-style: var(--subtitle-font-style);
  }
  
  .frame .text-wrapper-33 {
    position: absolute;
    height: 16px;
    top: 672px;
    left: 618px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #ffffff;
    font-size: var(--single-line-body-base-font-size);
    text-align: center;
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  